:root {
    --gapTopHeader: 1rem;
    --headerHeight: 6rem;
    --headerSmallHeight: 4rem;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Dejavu Serif';
    src: url(fonts/dejavu-serif.book.woff);
}

@font-face {
    font-family: 'Dejavu Serif';
    src: url(fonts/dejavu-serif.bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: 'Dejavu Serif';
    src: url(fonts/dejavu-serif.italic.woff);
    font-style: italic;
}

@font-face {
    font-family: 'Dejavu Serif';
    src: url(fonts/dejavu-serif.bold-italic.woff);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Emoji';
    src: url(fonts/NotoEmoji-Regular.woff);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Dejavu Serif';
    background-color: #FBFBE7;
}

section {
    min-height: 50vh;
}

p {
    text-indent: 1rem;
    margin-bottom: 0.5rem;
}

ul {
    list-style-position: inside;
  }
  
li {
    padding-bottom: 0.5rem;
}

li ul {
    margin-top: 0.5rem;
    margin-left: 2rem;
}

a {
    text-decoration: none;
    color: #DD4F4F;
    font-weight: bold;
}
a:visited {color: #DD4F4F}
a:hover {text-decoration: underline;}

h1 {
    font-variant: small-caps;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}
h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}
h3 {
    font-weight: bold;
    text-align: center;
}

.BigContainer {
    width: 70%;
    margin: auto;
    max-width: 1200px;
}

.SmallContainer {
    width: 50%;
    margin: auto;
    max-width: 1200px;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.hiddenLogo {
    display: none;
}

.imgLogo {
    margin-top: var(--gapTopHeader);
    height: var(--headerHeight);
    border-radius: 50%;
}

.menu {
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
}

.menuItem {
    margin-bottom: 0;
}

.menuPrincipalItem {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
}

.menuLangItem {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.menuLink {
    text-shadow: none;
    font-weight: bold;
    color: black;
}
.menuLink:visited {
    color: black;
}
.menuLink:hover {
    text-decoration: none;
    text-shadow: 2px 2px 10px #FF0000;
}
.menuLink:active {
    text-shadow: 2px 2px 10px #00FF44;
}

.contrastCharacter {
    font-family: 'Noto Emoji';
    margin-bottom: 0.5rem;
}

.hrGeneral {
    margin: auto;
    margin-bottom: 0.3rem;
}
.hr1 {width: 90%; margin-top: 1rem;}
.hr2 {width: 70%;}
.hr3 {width: 50%; margin-bottom: 1rem;}

.imgText {
    height: 1.5rem;
    vertical-align: middle;
}

.new_section {
    margin-top: 4rem;
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 40%;
    height: 20rem;
    border-radius: 0 0 25px 25px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    margin: 0 1rem 1rem 1rem;
}

.cardTitle {
    overflow-wrap: break-word;
    background-color: #EEEEEE;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}

.cardBody {
    padding: 0.5rem 1rem;
}

.cardStacks {
    border: 5px solid black;
    border-radius: 25px;
    width: 100%;
    margin-bottom: 1rem;
}

.cardTitleStacks {
    border-bottom: 5px solid black;
    overflow-wrap: break-word;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.5rem;
}

.cardBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    width: 7rem;
    font-weight: bold;    
}

.stack img {
    width: 4rem;
}

footer {
    margin-top: 2rem;
    text-align: center;
    padding: 0.8rem 0;
    font-size: 0.8rem;
}

#write {
    font-family: 'Courier New', monospace;
    font-size: 1.5rem;
}

@media only screen and (max-width: 1700px) {
    .menuPrincipalItem {
        font-size: 1.5rem;
    }
    .SmallContainer {
        width: 60%;
    }
}

@media only screen and (max-width: 1500px) {
    .menuPrincipalItem {
        padding: 0 1rem;
    }
    .BigContainer {
        width: 80%;
    }
    .SmallContainer {
        width: 70%;
    }
}

@media only screen and (max-width: 1200px) {
    .imgLogoMenu {
        display: none;
    }
    .hiddenLogo {
        display: block;
        margin: var(--gapTopHeader) auto var(--gapTopHeader) auto;
    }
    .BigContainer {
        width: 90%;
    }
    .SmallContainer {
        width: 80%;
    }
    .menuLangItem{
        padding-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 950px) {
    .BigContainer {
        width: 90%;
    }
    .menu {
        display: block;
        text-align: center;
    }
    .menuLang {
        margin-top: 1rem;
    }
    .menuPrincipalItem {
        padding-bottom: 0.8rem;
    }
    .menuLangItem{
        display: inline-block;
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 850px) {
    .card {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .card {
        width: 100%;
    }
}
